
			/*ul{
				background-color: white;
			}*/
.custom{
	float: right;
	position: absolute;
	
}


/* Name: Ahsan Ul Kabir College Project
	// https://github.com/ahsanuk    
	// https://www.linkedin.com/in/ahsanuk/  */
		